{% extends "network/layout.html" %}

{% block body %}
    <div style="margin: 10px 10px 10px 10px;">
        <h1>All Posts</h1>
        
        <div id="posts" class="card">
            <ul class="card-body">
                {% for posts in page_view %}
                     <li class="card"> 
                        <div class="card-header bg-success">
                            <h5 class="card-title"><a class="text-light" style="text-decoration: none;" href="{% url 'profile' posts.user.id %}">{{ posts.user }}</a></h5> 
                            <h6 class="card-subtitle text-light">{{ posts.timestamp }}</h6>
                         </div>
                        <div class="card-body">
                            <h3 class="card-text">{{ posts.post }}</h3>
                        </div>
                        {% include 'network/like.html' %}
                    </li>  
                {% empty %}
                    <h6>No post availabel 😔</h6>
                {% endfor %}
            </ul>
            
        </div>
    </div>

    {% include "network/paginator.html" %}

{% endblock %}