{% extends "network/layout.html" %}

{% block body %}
    <div style="margin: 10px 10px 10px 10px;">
        <h1>All Posts</h1>
        {% if user.is_authenticated %}
            <div class="border border-success" style="margin: 10px 10px 10px 10px; position: relative;">
                <div style="margin: 10px 10px 10px 10px;">
                    <h5>New Post</h5>
                    <form id="NewPostForm" action="{% url 'index' %}" method="POST">
                        {% csrf_token %} 
                        <div class="form-group">
                            <!-- <textarea name="post" class="form-control" cols="30" rows="5" placeholder="What is in your mind? "></textarea> -->
                            {{ post.as_table }}
                        </div>
                        <!-- <input class="btn btn-success" type="Submit" value="Post"> -->
                    </form>
                </div>

            </div>
        {% endif %}
        <div id="posts" class="card">
            <ul class="card-body">
                {% for posts in page_view %}    
                     <li class="card"> 
                         <div class="card-header bg-success">
                            <h5 class="card-title"><a class="text-light" style="text-decoration: none;" href="{% url 'profile' posts.user.id %}">{{ posts.user }}</a></h5> 
                            <h6 class="card-subtitle text-light">{{posts.id}} : {{ posts.timestamp }}</h6>
                         </div>
                        <div class="card-body">

                            <h3 class="card-text">{{ posts.post }}</h3>
                        </div>
                        {% include 'network/like.html' %}
                    </li>
                {% empty %}
                    <h6>No post availabel 😔</h6>
                {% endfor %}
            </ul>     
        </div>

        {% include "network/paginator.html" %}
        
    </div>
{% endblock %}

