{% load static %}
<div class="card-footer">
    <!-- {% if is_like %}
        <form action="{% url 'likepost' id=posts.posts_id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button href="http://google.com" id = "like" class="btn btn-link" style="text-decoration: none; color:red" type="submit"><i class="fa fa-heart"></i></button>
        </form>
        <!-- <a href="http://google.com" id = "like" class="btn btn-link" style="text-decoration: none; color:red" type="submit"><i class="fa fa-heart"></i></a> -->
    <!-- {% else %}
        <!-- <form action="{% url 'likepost' posts_id=posts.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button href="http://google.com" id = "like" class="btn btn-link" style="text-decoration: none; color:blue" type="submit"><i class="fa fa-heart"></i></button>
        </form> -->
        <!-- <a href="http://google.com" id = "like" class="btn btn-link" style="text-decoration: none; color:blue" type="submit"><i class="fa fa-heart"></i></a> -->
    <!-- {% endif %} -->
    <form action="{% url 'likepost' posts_id=posts.id %}" id="likeform" method="POST" style="display: inline;">
        <!-- {% csrf_token %} -->
        <button id = "like" class="btn btn-link" type="submit">Like</button>
    </form>
    <!-- <form action="{% url 'likepost' posts_id=posts.id %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button onclick="like_function(posts_id)" id = "like" class="btn btn-link" type="submit"><i class="fa fa-heart"></i> {{posts.id}}</button>
    </form> -->
    
    <!-- <button onclick="like_function()" id = "like" class="btn btn-link">Like</i> </button> -->
    <small id="num_of_likes">{{ posts.likepost.all.count }}</small>
    {% block script %} 
        <script>
            let posts_id = "{{ posts.id }}";
        </script>
        <script src="{% static 'network/controller.js' %}"></script>
    {% endblock %}
    <button class="btn btn-link" style="text-decoration: none;">Comment</button>
    <a href="{% url 'postpage' id=posts.id %}" class="btn btn-link" style="text-decoration: none;">View Post</a>
    {% if request.user.id is posts.user.id %}
        <a href="{% url 'editpost' id=posts.id %}" class="btn btn-link" style="text-decoration: none;">Edit</a>
       
    {% endif %}
</div>


