{% load static %}
<div id="likeapost{{posts.id}}" class="card-footer">
    {% if request.user in posts.likepost.all %}
        <form action="{% url 'likepost' posts_id=posts.id %}" id="likeform{{posts.id}}" method="POST" style="display: inline;">
            <!-- {% csrf_token %} -->
            <button id="likebtn{{posts.id}}" class="btn btn-link" type="submit">Unlike</button>
        </form>
    {% else %} 
        <form action="{% url 'likepost' posts_id=posts.id %}" id="likeform{{posts.id}}" method="POST" style="display: inline;">
            <!-- {% csrf_token %} -->
            <button id="likebtn{{posts.id}}" class="btn btn-link" type="submit">Like</button>
        </form>
    {% endif %}
    <small id="num_of_likes_{{posts.id}}" class="num_of_likes">{{ posts.likepost.all.count }}</small>
    
    {% block script %} 
        <script>
            posts_id = "{{ posts.id }}";
            is_like = "{{is_like}}";
            num_like = "{{ posts.likepost.all.count }}";
        </script>
        <script src="{% static 'network/controller.js' %}"></script>
    {% endblock %}
    <button class="btn btn-link" style="text-decoration: none;">Comment</button>
    <a href="{% url 'postpage' id=posts.id %}" class="btn btn-link" style="text-decoration: none;">View Post</a>
    {% if request.user.id is posts.user.id %}
        <a href="{% url 'editpost' id=posts.id %}" class="btn btn-link" style="text-decoration: none;">Edit</a>
       
    {% endif %}
    <!-- <div class="likepost"></div> -->
</div>


