{% load static %}
<div class="card-footer">
   
    <form action="{% url 'likepost' posts_id=posts.id %}" class="likeform" method="POST" style="display: inline;">
        {% csrf_token %}
        <button class="like btn btn-link" type="submit">Like</button>
    </form>
    <small class="num_of_likes">{{ posts.likepost.all.count }}</small>
    
    {% block script %} 
        <!-- <script>
            let posts_id = "{{ posts.id }}";
        </script> -->
        <script src="{% static 'network/controller.js' %}"></script>
    {% endblock %}
    <button class="btn btn-link" style="text-decoration: none;">Comment</button>
    <a href="{% url 'postpage' id=posts.id %}" class="btn btn-link" style="text-decoration: none;">View Post</a>
    {% if request.user.id is posts.user.id %}
        <a href="{% url 'editpost' id=posts.id %}" class="btn btn-link" style="text-decoration: none;">Edit</a>
       
    {% endif %}
    <div class="likepost"></div>
</div>


