{% extends "network/layout.html" %}

{% block body %}

    <div class="entry bg-success">
        <div>
            <h2 style="text-align: center; color:aliceblue;">Login</h2>
        </div>
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <div class="bg-light border border-success">
            <div class="formview">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <input class="btn btn-success" type="submit" value="Login">
                </form>
            </div>
            <div style="margin-bottom: 10px;"> </div>
            <div style="margin-left: 10px;">
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>
            
        </div>
        
    </div>
    

    

{% endblock %}