{% extends 'network/layout.html' %}
{% block title %} {{user}}'s profile {% endblock %} 

{% block body %} 
    
    {% if user.is_authenticated %}
        <h1>Hi : {{ user }}</h1>
    {% endif %}
    <img src="{{ user.profile.picture.url }}" alt="image not found." style="border-radius: 50%;" height="100px" width="100px">
    <h6>Followers: {{user.profile.follower}}</h6>
    <h6>Following: {{user.profile.following}}</h6>
    <div style="margin: 10px 10px 10px 10px;">
        <h1>Posts from {{ user }}</h1>
        <div id="posts" class="card">
            <div class="card-body">
                {% for posts in posts %}
                    <ul>
                         <li class="card"> 
                            <div class="card-body">
                                <h5 class="card-title">{{ posts.user }}</h5> 
                                <h6 class="card-subtitle text-muted">{{ posts.timestamp }}</h6>
                                <h3 class="card-text">{{ posts.post }}</h3>
                            </div>
                        </li>
                    </ul>   
                {% empty %}
                    <h6>You didn't make any post 🙄</h6>
                {% endfor %}
            </div>
            
        </div>
    </div>

{% endblock %}